/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-willsides-social-icon-link a {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	width: 100%;
}
.wp-block-willsides-social-icon-link img {
	display: block;
	width: 100%;
}
a.ws-hover-opacity-100:hover img {
	filter: opacity(1);
}
a.ws-hover-opacity-90:hover img {
	filter: opacity(0.9);
}
a.ws-hover-opacity-80:hover img {
	filter: opacity(0.8);
}
a.ws-hover-opacity-70:hover img {
	filter: opacity(0.7);
}
a.ws-hover-opacity-60:hover img {
	filter: opacity(0.6);
}
a.ws-hover-opacity-50:hover img {
	filter: opacity(0.5);
}
a.ws-hover-opacity-40:hover img {
	filter: opacity(0.4);
}
a.ws-hover-opacity-30:hover img {
	filter: opacity(0.3);
}
a.ws-hover-opacity-20:hover img {
	filter: opacity(0.2);
}
a.ws-hover-opacity-10:hover img {
	filter: opacity(0.1);
}
a.ws-hover-opacity-0:hover img {
	filter: opacity(0);
}

.wp-block-willsides-social-icon-link {
	aspect-ratio: 1;
}
